@tailwind base;
@tailwind components;
@tailwind utilities;

.tata{

    height: 79vh;
    overflow-y: auto;
}
.hello{
    height: 79vh;
    overflow-y: auto;
}
.add{
    color: rgb(83, 81, 81);
}
.showmedash{
   
}